<nav class="hide-on-small-only">
  <div class="nav-wrapper">
    <ul class="left">
      {{link-to "Home" "index"}}
      {{link-to "Services" "services"}}
      {{link-to "About" "about"}}
      {{link-to "Contact Us" "contact"}}
    </ul>
  </div>
</nav>

<div class="collection hide-on-med-and-up center-align">
  {{link-to "Home" "index" class="collection-item"}}
  {{link-to "Services" "services" class="collection-item"}}
  {{link-to "About" "about" class="collection-item"}}
  {{link-to "Contact Us" "contact" class="collection-item"}}
</div>
